Debug
src/Debug
.vs
x64
src/x64
Release
packages
*.o
.sconsign.dblite
.DS_Store
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
iie
gamec
.vscode
snake
